<!DOCTYPE html>
<html lang="en">
<% include partial/head %>
<body>
  <!-- nav bar container and links-->
  <% include partial/navbar %>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <% function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
      }  %>
      <h3 id="user" data-id="<%=user._id%>"><%= capitalizeFirstLetter(user.name) %>'s List<small></small></h3>
      <div class="input-group">
        <input type="text" class="form-control" id="newTodo" placeholder="What did you just do?" name="content">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="todoButton">Submit</button>
        </span>
      </div> <!--input-group -->
      <div id="past-todos" style="overflow:auto; height:500px;">
        <ul class="list-group">
          <%for (var i = 0; i < user.todos.length; i++) {%>
          <li>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="button-group pull-right">
                  <button type="button" name="repeat-button" id="repeat-button" class="btn btn-xs edit" data-id="<%= user.todos[i]._id %>">
                    <a href="/api/user/<%=user._id%>/todos/<%= user.todos[i]._id %>/repeat"<span class="glyphicon glyphicon-repeat"></span></a>
                  </button>
                  <button type="button" name="edit-button" class="btn btn-xs edit" data-id="<%= user.todos[i]._id %>">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                  <button type="button" name="del-button" class="btn btn-xs delete" data-id="<%= user.todos[i]._id %>">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
                <p><%= user.todos[i].content %></p>
                <p><small><i><%= moment(user.todos[i].timestamp).fromNow() %></i></p></small>
              </div> <!--panel body -->
            </div>
          </li>
          <%}%>
        </ul>
      </div>
    </div> <!--col-md-6 -->
  </div> <!--container -->
  <% include partial/footer %>
  <% include partial/scripts %>
</body>
</html>
